div {
    height:100px;
    width: 100px;
    border: solid 10px green;
}

.com-border-box {
    background-color: aquamarine;

    /*Comando para facilitar o calculo do elemento*/
    box-sizing: border-box;

}


.sem-border-box {
    background-color: brown;
}